{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    {{ product.name }}
    {{ product.id }}


    <form action="{% url 'thanks' product.id %}" method="post" id="buying_product_form">
        {% csrf_token %}
        {{ form.as_p }}

        <div>
            <h1>Цена: <span id="prod_price">{{ product.price }}</span></h1>
        </div>

        <button type="submit">Buy</button>
        <div id="paypal-button-container"></div>
    </form>

<script src="{% static 'pay.js' %}" ></script>
{% endblock %}
